@using SASA.ViewModels.Tiquete.Cola
@model ColaIndexViewModel
@{
    ViewData["Title"] = "Gestión de Colas de Trabajo";
    var tabColaPersonalActiva = Model.TabActiva == "Cola Personal";
    var tabColaGlobalActiva = Model.TabActiva == "Cola Global";
}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-body">
            <div class="">
                <h2 class="mb-4 fw-bold">Colas de Trabajo</h2>


                <ul class="nav nav-tabs mb-3" id="categoriaTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link @(tabColaPersonalActiva ? "active" : "")"
                                id="personal-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#personal-pane"
                                type="button"
                                role="tab">
                                Cola Personal
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link @(tabColaGlobalActiva ? "active" : "")"
                                id="global-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#global-pane"
                                type="button"
                                role="tab">
                                Cola Global
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="colaTabsContent">
                    <div class="tab-pane fade @(tabColaPersonalActiva ? "show active" : "")" id="personal-pane" role="tabpanel">
                        <div id="ticketQueue" class="notif-list">

                            @foreach (var c in Model.Personal)
                            {
                                <div class="notif-item notif-unread"
                                    data-id="@c.IdTiquete"
                                    data-orden="@c.OrdenCola">
                                    <div class="notif-left">
                                        <div class="notif-icon info">
                                            #@c.PosicionCola
                                        </div>
                                    </div>
                                    <div class="notif-body">
                                       <div class="notif-row">
                                            <div>
                                                <div class="notif-title">@c.Asunto</div>
                                                <div class="notif-meta">
                                                    <ul class="list-unstyled">
                                                        <li>@FormatearTiempo(c.CreatedAt)</li>
                                                        <li>Categoría: @c.Categoria </li>
                                                        <li>
                                                            @switch (c.Prioridad)
                                                            {
                                                                case "Baja":
                                                                    <span class="badge bg-secondary">
                                                                        Prioridad: @c.Prioridad

                                                                    </span>
                                                                    break;

                                                                case "Media":

                                                                    <span class="badge bg-primary">
                                                                        Prioridad: @c.Prioridad

                                                                    </span>

                                                                    break;

                                                                case "Alta":

                                                                    <span class="badge bg-warning">
                                                                        Prioridad: @c.Prioridad

                                                                    </span>

                                                                    break;

                                                                default:

                                                                    <span class="badge bg-danger">
                                                                        Prioridad: @c.Prioridad

                                                                    </span>
                                                                    break;
                                                            }
                                                        </li>
                                                        <li>
                                                            @if (!c.EstaAtrasado)
                                                            {
                                                                <span class="badge bg-success">
                                                                    Tiempo restante: @c.TiempoRestante
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge bg-danger">
                                                                    Atrasado: @c.TiempoExcedido
                                                                </span>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="notif-controls">
                                                <a asp-route-id="@c.IdTiquete" 
                                                class="btn btn-sm btn-success notif-btn"
                                                asp-action="Details" 
                                                asp-controller="Tiquete"
                                                title="Ver detalle">

                                                    <i class="bi bi-eye"></i>
                                                </a>

                                                <a asp-route-id="@c.IdTiquete"
                                                       class="btn btn-sm btn-primary notif-btn"
                                                       asp-action="Edit"
                                                       asp-controller="Tiquete"
                                                       title="Editar tiquete">

                                                    <i class="bi bi-pencil-square"></i>
                                                </a>

                                            </div>


                                       </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="tab-pane fade @(tabColaGlobalActiva ? "show active" : "")" id="global-pane" role="tabpanel">
                        <div id="ticketQueue" class="notif-list">
                            @foreach (var assignee in Model.Global)
                            {
                                <div class="mb-4">

                                    <!-- Assignee Header -->
                                    <div class="d-flex align-items-center mb-2">
                                        <h5 class="fw-bold me-2">@assignee.AssigneeCorreo</h5>

                                            @if(assignee.Colas.Count > 1)
                                            {
                                            <span class="badge bg-secondary">
                                                @assignee.Colas.Count tiquetes
                                             </span>
                                            }
                                        else
                                        {
                                            <span class="badge bg-secondary">
                                                @assignee.Colas.Count tiquete
                                            </span>
                                        }
                                    </div>

                                    <div class="notif-list">

                                        @foreach (var c in assignee.Colas)
                                        {
                                            <div class="notif-item notif-unread">
                                                <div class="notif-left">
                                                    <div class="notif-icon info">
                                                        #@c.PosicionCola
                                                    </div>
                                                </div>

                                                <div class="notif-body">
                                                    <div class="notif-row">

                                                        <div>
                                                            <div class="notif-title">@c.Asunto</div>

                                                            <div class="notif-meta">
                                                                <ul class="list-unstyled">
                                                                    <li>Categoría: @c.Categoria</li>
                                                                    <li>Prioridad: @c.Prioridad</li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="notif-controls">
                                                            <a asp-route-id="@c.IdTiquete"
                                                                   class="btn btn-sm btn-primary notif-btn"
                                                                   asp-action="Details"
                                                                   asp-controller="Tiquete">

                                                                <i class="bi bi-eye"></i>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>

</div>

@functions {
    private string FormatearTiempo(DateTime fecha)
    {
        var f = fecha;

        var hoy = DateTime.Now.Date;
        var ayer = hoy.AddDays(-1);

        if (f.Date == hoy)
            return $"Hoy • {f:HH:mm}";

        if (f.Date == ayer)
            return $"Ayer • {f:HH:mm}";

        return $"{f:yyyy-MM-dd} • {f:HH:mm}";
    }
}

@section Scripts {
    <script src="~/js/Queue.js" asp-append-version="true"></script>
}
