@using SASA.ViewModels.Usuario
@model UsuarioIndexViewModel

@{
    ViewData["Title"] = "Gestión de Usuarios";
}
<div class="container-fluid">
    <!-- Header -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0 fw-bold">Gestión de Usuarios</h2>
                <button class="btn btn-custom"
                        data-bs-toggle="modal" data-bs-target="#addUserModal">
                    <i class="bi bi-plus-lg"></i>
                    Nuevo Usuario
                </button>
            </div>
            <!-- Filters -->
           <form method="get">
                <div class="row g-2 align-items-end mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Buscar por nombre o correo empresarial</label>
                        <input type="text" class="form-control"
                        name="Filtro.Search"
                        asp-form="Filtro.Search"
                        value="@Model.Filtro.Search"
                        placeholder="Nombre o Correo">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Departamento</label>
                        <select class="form-select" asp-for="Filtro.Departamento">
                            <option value="">Todos</option>
                            <option value="Tecnologías de Información">Tecnologías de Información</option>
                            <option value="Recursos Humanos">Recursos Humanos</option>
                            <option value="Finanzas">Finanzas</option>
                            <option value="Ventas">Ventas</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Estado</label>
                        <select class="form-select" asp-for="Filtro.Estado">
                            <option value="">Todos</option>
                            <option value=true >Activo</option>
                            <option value=false >Inactivo</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-secondary w-100" type="submit">
                            <i class="bi bi-funnel"></i>
                            Filtrar
                        </button>
                    </div>
                </div>
           </form>
            <!--Table comes here-->
            <div class="table-responsive card">
                <table class="table table-hover align-middle sasa-table">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Nombre Completo</th>
                            <th>Correo</th>
                            <th>Departamento</th>
                            <th>Estado</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach(var u in Model.Usuarios)
                            {
                            <tr>
                                <td>
                                    <a class="btn btn-link icon-btn" asp-area=""
                                    asp-controller="Usuario"
                                    asp-action="Details"
                                    asp-route-id="@u.Id">
                                        <i class="bi bi-eye detail-btn"></i>
                                    </a>
                                    <a class="btn btn-link icon-btn" asp-area=""
                                    asp-controller="Usuario"
                                    asp-action="Edit"
                                    asp-route-id="@u.Id">
                                        <i class="fa-regular fa-pen-to-square edit-btn"></i>
                                    </a>
                                </td>

                                <td> @u.NombreCompleto</td>
                                <td>@u.CorreoEmpresa</td>
                                <td>@u.Departamento</td>
                                @if(u.Estado == "Activo")
                                {
                                    <td><span class="badge bg-success">Activo</span></td>
                                }
                                else
                                {
                                    <td><span class="badge bg-secondary">Inactivo</span></td>
                                }
                                <td>@u.Rol</td>
                            </tr>
                            }
                    </tbody>
                </table>
                <nav aria-label="Paginación" class="align-content-center justify-content-center">
                    <ul class="pagination pagination-sm mb-0 justify-content-center">

                        <!-- Previous -->
                        <li class="page-item @(Model.Filtro.TieneAnterior ? "" : "disabled")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-PageNumber="@(Model.Filtro.PageNumber - 1)"
                               asp-route-PageSize="@Model.Filtro.PageSize"
                               asp-route-Search="@Model.Filtro.Search"
                               asp-route-Departamento="@Model.Filtro.Departamento"
                               asp-route-Estado="@Model.Filtro.Estado">
                                Anterior
                            </a>
                        </li>

                        <!-- Info -->
                        <li class="page-item disabled">
                            <span class="page-link">
                                Página @Model.Filtro.PageNumber de @Model.Filtro.TotalPages
                            </span>
                        </li>

                        <!-- Next -->
                        <li class="page-item @(Model.Filtro.TieneSiguiente ? "" : "disabled")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-PageNumber="@(Model.Filtro.PageNumber + 1)"
                               asp-route-PageSize="@Model.Filtro.PageSize"
                               asp-route-Search="@Model.Filtro.Search"
                               asp-route-Departamento="@Model.Filtro.Departamento"
                               asp-route-Estado="@Model.Filtro.Estado">
                                Siguiente
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/formSubmits.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            const form = $("#createUserForm");

            //Remover validaciones previas
            form.removeData("validator");
            form.removeData("unobtrusiveValidation");

            //Agregar validaciones nuevamente
            $.validator.unobtrusive.parse(form);
        });
    </script>
}

@await Html.PartialAsync("_SuccessModal")
@await Html.PartialAsync("_ErrorModal")

@await Html.PartialAsync(
"_AddModal",
    new CrearUsuarioViewModel
    {
        RolesDisponibles = Model.RolesDisponibles
            .Select(r => new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = r, Value = r })
            .ToList(),
        PrimerNombre = string.Empty,
        PrimerApellido = string.Empty,
        CorreoEmpresa = string.Empty,
        Departamento = string.Empty,
        Puesto = string.Empty,
        Rol = string.Empty
    }
)
