@using SASA.ViewModels.Tiquete
@model TiqueteDetalleViewModel
@{
    ViewData["Title"] = "Detalle de Tiquete";
}

<!---------Make sure to always keep separation of important and slightly less important-------->
<a asp-area="" asp-controller="Tiquete" asp-action="Index" class="btn btn-link px-0">
    <i class="bi bi-arrow-left"></i> Volver al listado
</a>
<div class="card mb-3">
    <div class="card-body">
        <div class="ticket-header mb-4">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div>
                    <h4 class="mb-2 fw-bold">Tiquete #@Model.IdTiquete</h4>
                    <div class="gap-2">
                        @switch (Model.Estatus)
                        {
                            case "Creado":
                                <span class="badge bg-primary">@Model.Estatus</span>
                                break;
                            case "En Proceso":
                                <span class="badge bg-warning">@Model.Estatus</span>
                                break;
                            case "Cancelado":
                                <span class="badge bg-danger">@Model.Estatus</span>
                                break;
                            case "Resuelto":
                                <span class="badge bg-success"> @Model.Estatus </span>
                                break;
                            default:
                                <span class="badge bg-secondary"> @Model.Estatus </span>
                                break;
                        }
                        <span class="badge bg-danger">Prioridad va acá</span>
                        <span class="badge bg-dark">SLA: 2h restantes</span>
                    </div>
                </div>
              

                <div class="text-end small text-muted">
                    <div>Creado: @Model.CreatedAt</div>
                    <div>Reportado por: @Model.ReportedBy</div>
                    <div>Asignado a: @Model.Asignee</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- MAIN -->
    <div class="col-lg-8">
        <!-- Info general -->
        <div class="card mb-4 shadow-sm">
            <div class="card-body">

                <h6 class="section-title border-bottom pb-2 mb-3">
                    Información General
                </h6>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <small class="text-muted">Asunto</small>
                        <div class="fw-semibold">@Model.Asunto</div>
                    </div>

                    <div class="col-md-6">
                        <small class="text-muted">Departamento</small>
                        <div>@Model.Departamento</div>
                    </div>
                </div>

                <div class="mb-3">
                    <small class="text">Descripción</small>
                    <div class="border rounded p-3">
                        @Model.Descripcion
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Model.Resolucion))
                {
                    <small class="text">
                        Resolución
                    </small>

                    <div class="border rounded p-3">
                        @Model.Resolucion
                    </div>
                }

            </div>
        </div>

        <!-- Avances-->
        <div class="card">
            <div class="card-body">
                <h6 class="section-title border-bottom pb-2 mb-3">Avances</h6>
                <div class="p-3" style="max-height: 200px; overflow-y: auto;">
                    @if (!Model.Avances.Any())
                    {
                        <p class="text-muted mb-0">No hay avances registrados.</p>
                    }
                    else
                    {
                        @foreach (var avance in Model.Avances)
                        {
                            <div class="border-start border-3 ps-3">

                                <!-- Header Row -->
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <span class="text-muted">
                                        Autor:
                                        @avance.AutorCorreo
                                    </span>
                                    <small class="text-muted">
                                        @avance.CreatedAt.ToString("dd MMM yyyy HH:mm")
                                    </small>
                                </div>

                                <!-- Body -->
                                <p class="mb-0 ">
                                    @avance.TextoAvance
                                </p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- SIDE - Timeline-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
               
                <h6 class="section-title border-bottom pb-2 mb-3">Historial</h6>

                <ul class="timeline" style="max-height: 200px; overflow-y: auto;">
                    <li>
                        <span class="timeline-date">12/03/2025 09:14</span>
                        <p><strong>Creado</strong> por Juan Pérez</p>
                    </li>
                    <li>
                        <span class="timeline-date">12/03/2025 10:02</span>
                        <p>Asignado a Soporte TI</p>
                    </li>
                    <li>
                        <span class="timeline-date">12/03/2025 14:30</span>
                        <p>Diagnóstico inicial completado</p>
                    </li>
                </ul>
            </div>
        </div>

        <!--Add advances to the ticket-->
        @if (User.IsInRole("Administrador"))
        {
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="section-title border-bottom pb-2 mb-3">Agregar Avance</h6>

                    <form asp-action="AgregarAvance"
                          asp-controller="Tiquete"
                          asp-route-id="@Model.IdTiquete"
                          method="post"
                          id="addAdvanceForm">

                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            <textarea asp-for="NuevoAvance.TextoAvance"
                                      class="form-control"
                                      rows="3"
                                      placeholder="Describa el avance realizado..."></textarea>
                            <span asp-validation-for="NuevoAvance.TextoAvance"
                                  class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary-custom text-white"
                                type="submit">
                            <i class="bi bi-plus-circle"></i> Agregar avance
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("_SuccessModal")
@await Html.PartialAsync("_ErrorModal")

@section Scripts {
    <script src="~/js/formSubmits.js" asp-append-version="true"></script>
}
