@using SASA.ViewModels.Tiquete
@model TiqueteEditarViewModel
@{
    ViewData["Title"] = "Editar Tiquete";
}
<form asp-action="Edit"
      asp-controller="Tiquete"
      method="post"
      id="editTicketForm">

    @Html.AntiForgeryToken()
    <input asp-for="IdTiquete" type="hidden" />

    <a onclick="history.back()" class="btn btn-link px-0">
        <i class="bi bi-arrow-left"></i> Volver
    </a>

    <div class="card mb-3">
        <div class="card-body">
            <div class="ticket-header mb-4">
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <h4 class="mb-0 fw-bold">Editar Tiquete #@Model.IdTiquete</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h6 class="section-title mb-3">Información del Tiquete</h6>

            <div class="row g-3">
                <!-- Asunto readonly-->
                <div class="col-md-4">
                    <label asp-for="Asunto" class="form-label">Asunto</label>
                    <input asp-for="Asunto" class="form-control" readonly />
                </div>

                <!-- Descripción readonly -->
                <div class="col-md-8">
                    <label asp-for="Descripcion" class="form-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" readonly />
                </div>
                <!-- Categorías -->
                <div class="col-md-5">
                    <label asp-for="IdCategoria" class="form-label required-field">Categoría</label>
                    <select asp-for="IdCategoria"
                            asp-items="Model.Categorias"
                            id="categoriaDropdown"
                            class="form-select">
                        <option value="" disabled>Seleccione una categoría</option>
                    </select>
                    <span asp-validation-for="IdCategoria" class="text-danger"></span>
                </div>

                <!-- Sub Categorías-->
                <div class="col-md-4">
                    <label asp-for="IdSubCategoria" class="form-label required-field">SubCategoría</label>
                    <select asp-for="IdSubCategoria"
                            id="subcategoriaDropdown"
                            class="form-select">

                        <option value="">Seleccione una subcategoría</option>

                        @foreach (var sub in Model.SubCategorias)
                        {
                            <option value="@sub.IdSubCategoria"
                                    data-prioridad="@sub.NombrePrioridad"
                                    selected="@(sub.IdSubCategoria == Model.IdSubCategoria)">
                                @sub.NombreSubCategoria
                            </option>
                        }

                    </select>
                    <span asp-validation-for="IdSubCategoria" class="text-danger"></span>
                </div>

                @if (User.IsInRole("Administrador"))
                {
                    <div class="col-md-3">
                        <label class="form-label">Prioridad</label>
                        <input id="prioridadInput" class="form-control" asp-for="NombrePrioridad"
                               value="@Model.NombrePrioridad" readonly />
                    </div>
                }
                <!-- Estado-->
                <div class="col-md-6">
                    <label asp-for="IdEstatus" class="form-label">Estado</label>
                    <select asp-for="IdEstatus"
                            asp-items="Model.Estatuses" class="form-select">
                        <option value="" disabled>Seleccione al usuario a asignar</option>
                    </select>
                    <span asp-validation-for="IdEstatus" class="text-danger"></span>
                </div>
                <div class="col-12">
                        <label asp-for="Resolucion" class="form-label">Resolución</label>
                        <textarea asp-for="Resolucion" class="form-control" rows="4"
                                  placeholder="Para cancelar el tiquete, una resolución es necesaria"></textarea>
                        <span asp-validation-for="Resolucion" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end gap-2 mt-4">
        <a asp-area="" asp-controller="Tiquete" asp-action="Index" class="btn btn-outline-secondary" type="button">
            Cancelar
        </a>
        <button class="btn btn-primary-custom text-white" type="submit">
            Guardar cambios
        </button>
    </div>
</form>


<!--Many sections, hard to look good on mobile-->
@await Html.PartialAsync("_SuccessModal")
@await Html.PartialAsync("_ErrorModal")
@await Html.PartialAsync("_Alert")

@section Scripts {
    <script src="~/js/formSubmits.js" asp-append-version="true"></script>
}
