@using SASA.ViewModels.Tiquete;
@model TiqueteIndexViewModel

@{
    ViewData["Title"] = "Gestión de Tiquetes";
}
<div class="container-fluid">
    <!-- Header -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0 fw-bold">Gestión de Tiquetes</h2>
                @if (User.IsInRole("Administrador"))
                {
                    <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#addAdminTicket">
                        <i class="bi bi-plus-lg"></i>
                        Nuevo Tiquete
                    </button>
                }
                else
                {
                    <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#addTicket">
                        <i class="bi bi-plus-lg"></i>
                        Nuevo Tiquete
                    </button>
                }
            </div>
            <!-- Filters -->
            <form method="get">
                <div class="row g-2 align-items-end mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Buscar</label>
                        <input type="text" name="Filtro.Search" asp-for="Filtro.Search"
                               value="@Model.Filtro.Search"
                               class="form-control"
                               placeholder="Asunto/Descripción"/>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Estado</label>
                        <select asp-for="Filtro.Estatus"
                                asp-items="Model.Filtro.Estatuses"
                                class="form-select">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <!-- FILTRO POR FECHA -->
                    <div class="mb-3 pb-1 border-bottom">

                        <button class="btn w-100 d-flex justify-content-between align-items-center p-0 text-dark fw-semibold"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#dateFilter">
                            Fecha
                            <i class="bi bi-chevron-down"></i>
                        </button>

                        <div class="collapse mt-3" id="dateFilter">

                            <!-- SWITCH -->
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="dateRangeSwitch">
                                <label class="form-check-label">Buscar por rango</label>
                            </div>

                            <!-- SINGLE DATE -->
                            <div id="singleDateContainer">
                                <label class="form-label">Fecha</label>
                                <input type="date"
                                       class="form-control"
                                       name="Filtro.Fecha"
                                       id="filter-date-single">
                            </div>

                            <!-- RANGE -->
                            <div id="rangeDateContainer" class="d-none">

                                <label class="form-label">Desde</label>
                                <input type="date"
                                       class="form-control mb-2"
                                       name="Filtro.FechaInicio"
                                       id="filter-date-from"
                                       disabled>

                                <label class="form-label">Hasta</label>
                                <input type="date"
                                       class="form-control"
                                       name="Filtro.FechaFinal"
                                       id="filter-date-to"
                                       disabled>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-secondary w-100">
                            <i class="bi bi-funnel"></i>
                            Filtrar
                        </button>
                    </div>
                </div>
            </form>
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-hover align-middle sasa-table">
                    <thead class="">
                        <tr>
                            <th>Acciones</th>
                            <th>Asunto</th>
                            <th>Estatus</th>
                            <th>Categoría</th>
                            <th>Creado Por</th>
                            <th>Fecha de Creación</th>
                            <th>Asignado</th>
                            <th>Fecha de Edición</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.Tiquetes)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-link icon-btn" asp-area=""
                                       asp-controller="Tiquete"
                                       asp-action="Details"
                                       asp-route-id="@t.IdTiquete">
                                        <i class="bi bi-eye detail-btn"></i>
                                    </a>
                                    <a class="btn btn-link icon-btn" asp-area=""
                                       asp-controller="Tiquete"
                                       asp-action="Edit"
                                       asp-route-id="@t.IdTiquete">
                                        <i class="fa-regular fa-pen-to-square edit-btn"></i>
                                    </a>
                                </td>
                                <td>@t.Asunto</td>
                                @switch (t.Estatus)
                                {
                                    case "Creado":
                                        <td>
                                            <span class="badge bg-primary">@t.Estatus</span>
                                        </td>
                                        break;
                                    case "En Proceso":
                                        <td>
                                            <span class="badge bg-warning">@t.Estatus</span>
                                        </td>
                                        break;
                                    case "Cancelado":
                                        <td>
                                            <span class="badge bg-danger">@t.Estatus</span>
                                        </td>
                                        break;
                                    case "Resuelto":
                                        <td>
                                            <span class="badge bg-success"> @t.Estatus </span>
                                        </td>
                                        break;
                                    default:
                                        <td>
                                            <span class="badge bg-secondary"> @t.Estatus </span>
                                        </td>
                                        break;
                                }

                                <td>@t.Categoria</td>
                                <td>@t.ReportedBy</td>
                                <td>@t.CreatedAt</td>
                                <td>@t.Asignee</td>
                                <td>@t.UpdatedAt</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <nav aria-label="Paginación" class="align-content-center justify-content-center">
                    <ul class="pagination pagination-sm mb-0 justify-content-center">

                        <!-- Previous -->
                        <li class="page-item @(Model.Filtro.TieneAnterior ? "" : "disabled")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-PageNumber="@(Model.Filtro.PageNumber - 1)"
                               asp-route-PageSize="@Model.Filtro.PageSize"
                               asp-route-Search="@Model.Filtro.Search"
                               asp-route-Estatus="@Model.Filtro.Estatus"
                               asp-route-Fecha="@Model.Filtro.Fecha"
                               asp-route-FechaInicio="@Model.Filtro.FechaInicio"
                               asp-route-FechaFinal="@Model.Filtro.FechaFinal">
                                Anterior
                            </a>
                        </li>

                        <!-- Info -->
                        <li class="page-item disabled">
                            <span class="page-link">
                                Página @Model.Filtro.PageNumber de @Model.Filtro.TotalPages
                            </span>
                        </li>

                        <!-- Next -->
                        <li class="page-item @(Model.Filtro.TieneSiguiente ? "" : "disabled")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-PageNumber="@(Model.Filtro.PageNumber + 1)"
                               asp-route-PageSize="@Model.Filtro.PageSize"
                               asp-route-Search="@Model.Filtro.Search"
                               asp-route-Estatus="@Model.Filtro.Estatus"
                               asp-route-Fecha="@Model.Filtro.Fecha"
                               asp-route-FechaInicio="@Model.Filtro.FechaInicio"
                               asp-route-FechaFinal="@Model.Filtro.FechaFinal">
                                Siguiente
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="modalContainer"></div>

@await Html.PartialAsync("_SuccessModal")
@await Html.PartialAsync("_ErrorModal")
@await Html.PartialAsync("_AddModal", Model.CrearTiquete)


@section Scripts {
    <script src="~/js/formSubmits.js" asp-append-version="true"></script>
 @*    <script>
        $(document).on('click', '#openCreateModal', function () {

        $.get('/Tiquete/Add', function (data) {

            $('#modalContainer').html(data);

            const form = $("#crearTiqueteForm");

            form.removeData("validator");
            form.removeData("unobtrusiveValidation");

            $.validator.unobtrusive.parse(form);

            const modalElement = document.getElementById('addTicketModal');
            const modal = new bootstrap.Modal(modalElement);

            modal.show();
        });


        });
    </script> *@
}
