@using SASA.ViewModels.Tiquete;
@model TiqueteIndexViewModel

@{
    ViewData["Title"] = "Gestión de Tiquetes";
}
<div class="container-fluid">
    <!-- Header -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0 fw-bold">Gestión de Tiquetes</h2>
                <button class="btn btn-custom" id="openCreateModal">
                    <i class="bi bi-plus-lg"></i>
                    Nuevo Tiquete
                </button>
            </div>
            <!-- Filters -->
            <form method="get">
                <div class="row g-2 align-items-end mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Buscar por ID o Asunto</label>
                        <input type="text" name="Filtro.Search" asp-form="Filtro.Search"
                               value="@Model.Filtro.Search"
                               class="form-control"
                               placeholder="Id o Asunto"/>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Estado</label>
                        <select asp-for="Filtro.Estatus"
                                asp-items="Model.Filtro.Estatuses"
                                class="form-select">
                            <option value="">Todos</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Prioridad</label>
                        <select asp-for="Filtro.Prioridad"
                                asp-items="Model.Filtro.Prioridades"
                                class="form-select">
                            <option value="">Todas</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Fecha</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-secondary w-100">
                            <i class="bi bi-funnel"></i>
                            Filtrar
                        </button>
                    </div>
                </div>
            </form>
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-hover align-middle sasa-table">
                    <thead class="">
                        <tr>
                            <th>Acciones</th>
                            <th>Id</th>
                            <th>Asunto</th>
                            <th>Estatus</th>
                            <th>Prioridad</th>
                            <th>Categoría</th>
                            <th>Cola</th>
                            <th>Creado Por</th>
                            <th>Fecha de Creación</th>
                            <th>Asignado</th>
                            <th>Fecha de Edición</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.Tiquetes)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-link icon-btn" asp-area=""
                                       asp-controller="Tiquete"
                                       asp-action="Details"
                                       asp-route-id="@t.IdTiquete">
                                        <i class="bi bi-eye detail-btn"></i>
                                    </a>
                                    <a class="btn btn-link icon-btn" asp-area=""
                                       asp-controller="Tiquete"
                                       asp-action="Edit"
                                       asp-route-id="@t.IdTiquete">
                                        <i class="fa-regular fa-pen-to-square edit-btn"></i>
                                    </a>
                                </td>

                                <td>@t.IdTiquete</td>
                                <td>@t.Asunto</td>
                                @switch (t.Estatus)
                                {
                                    case "Abierto":
                                        <td>
                                            <span class="badge bg-primary">@t.Estatus</span>
                                        </td>
                                        break;
                                    case "En Progreso":
                                        <td>
                                            <span class="badge bg-warning">@t.Estatus</span>
                                        </td>
                                        break;
                                    case "Cancelado":
                                        <td>
                                            <span class="badge bg-danger">@t.Estatus</span>
                                        </td>
                                        break;
                                    case "Resuelto":
                                        <td>
                                            <span class="badge bg-success"> @t.Estatus </span>
                                        </td>
                                        break;
                                    default:
                                        <td>
                                            <span class="badge bg-secondary"> @t.Estatus </span>
                                        </td>
                                        break;
                                }

                                <td>@t.Prioridad</td>
                                <td>@t.Categoria</td>
                                <td>@t.Cola</td>
                                <td>@t.ReportedBy</td>
                                <td>@t.CreatedAt</td>
                                <td>@t.Asignee</td>
                                <td>@t.UpdatedAt</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <nav aria-label="Paginación" class="align-content-center justify-content-center">
                    <ul class="pagination pagination-sm mb-0 justify-content-center">

                        <!-- Previous -->
                        <li class="page-item @(Model.Filtro.TieneAnterior ? "" : "disabled")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-PageNumber="@(Model.Filtro.PageNumber - 1)"
                               asp-route-PageSize="@Model.Filtro.PageSize"
                               asp-route-Search="@Model.Filtro.Search"
                               asp-route-Estatus="@Model.Filtro.Estatus"
                               asp-route-Prioridad="@Model.Filtro.Prioridad"
                               asp-route-Fecha="@Model.Filtro.Fecha">
                                Anterior
                            </a>
                        </li>

                        <!-- Info -->
                        <li class="page-item disabled">
                            <span class="page-link">
                                Página @Model.Filtro.PageNumber de @Model.Filtro.TotalPages
                            </span>
                        </li>

                        <!-- Next -->
                        <li class="page-item @(Model.Filtro.TieneSiguiente ? "" : "disabled")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-PageNumber="@(Model.Filtro.PageNumber + 1)"
                               asp-route-PageSize="@Model.Filtro.PageSize"
                               asp-route-Search="@Model.Filtro.Search"
                               asp-route-Estatus="@Model.Filtro.Estatus"
                               asp-route-Prioridad="@Model.Filtro.Prioridad"
                               asp-route-Fecha="@Model.Filtro.Fecha">
                                Siguiente
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="modalContainer"></div>

@await Html.PartialAsync("_SuccessModal")
@await Html.PartialAsync("_ErrorModal")


@section Scripts {
    <script src="~/js/formSubmits.js" asp-append-version="true"></script>
    <script>
        $(document).on('click', '#openCreateModal', function () {

        $.get('/Tiquete/Add', function (data) {

            $('#modalContainer').html(data);

            const form = $("#crearTiqueteForm");

            form.removeData("validator");
            form.removeData("unobtrusiveValidation");

            $.validator.unobtrusive.parse(form);

            const modalElement = document.getElementById('addTicketModal');
            const modal = new bootstrap.Modal(modalElement);

            modal.show();
        });


        });
    </script>
}
